<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PitchPerfect.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1CAE24D91BB6E5F3003F21E8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1CAE24ED1BB6E5F4003F21E8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1CAE24F81BB6E5F4003F21E8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
